.alert {
    box-shadow: 1px 1px 2px var(--fontColor);
    border-radius: 20px;
    padding: 10px 15px;
    min-width: 200px;
    max-width: 94%;
    width: 100%;
    position: fixed;
    bottom: 3%;
    cursor: pointer;
    transition: all 0.3s linear;
    right: 15px;
    opacity: 0;
    z-index: -1;
}

.alert span {
    margin-left: 20px;
}

.displayAlert {
    opacity: 1;
    z-index: 2;
}

.error {
    background-color: var(--error);
}

.success {
    background-color: var(--success);
}

@media (min-width: 768px) {
    .alert {
        width: auto;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
    }

    .alert p{
        width: max-content;
    }
}