@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('alert.css');
@import url('header.css');
@import url('footer.css');
@import url('paginacion.css');

:root {
  --font: "Raleway";
  --fontColor: #595250;
  --bodyColor: #f8f8f8;
  --mainColor: #ffd4df;
  --secondarColor: #ffe15c;
  --thirdColor: #dd9ba9;
  --success: #4eca5c;
  --error: #ff4e42;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font);
  color: var(--fontColor);
  line-height: 1.5;
  box-sizing: border-box;
}

h1 {
  letter-spacing: 2px;
}

h2,
h3,
h4,
h5 {
  font-weight: 600;
  letter-spacing: 1px;
}

body {
  background-color: var(--bodyColor);
  background-attachment: fixed;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

main {
  position: relative;
}

a {
  text-decoration: none;
}

.fw {
  font-weight: bold;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.d-n {
  display: none;
}

.tc {
  text-align: center;
}

ul {
  list-style: none;
}

.hidden {
  position: absolute;
  z-index: -100;
  opacity: 0;
  width: 0px;
}

.relative {
  position: relative;
}

/* Quitar los botones en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"] {
  border: none;
  margin: 0px 10px;
}

/* Flexbox */
.flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.end {
  justify-content: end;
}

.wrap {
  flex-wrap: wrap;
}

.alignCenter {
  align-items: center;
}

/*Gap*/
.g1 {
  gap: 10px;
}

.g2 {
  gap: 20px;
}

.g3 {
  gap: 30px;
}

.g4 {
  gap: 40px;
}

.g5 {
  gap: 50px;
}

/* Inputs */
.inputWrap {
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 30px 10px 10px 10px;
  border-radius: 20px;
  position: relative;
  box-shadow: 1px 1px 2px var(--fontColor);
}

.inputWrap label {
  position: absolute;
  top: 0px;
  font-size: 0.9em;
}

.inputWrap input {
  background: transparent !important;
  border: none;
  font-size: 1.1em;
}

.inputWrap input[type="text"] {
  width: 100%;
}

input:focus {
  border-color: var(--mainColor) !important;
  outline: unset !important;
}

.buttonWrap {
  width: 100%;
}

.passButton img {
  width: 26px;
}

/* Botones */
.button {
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
  width: 100%;
  font-size: 1em;
  background-color: var(--mainColor);
  font-weight: bold;
  border: none;
  box-shadow: 3px 4px 2px #595250;
  text-align: center;
}

/* Checkbox */
.checkWrap {
  margin-bottom: 15px;
  align-items: center;
  position: relative;
}

.checkWrap input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.checkWrap label {
  cursor: pointer;
  z-index: 2;
}

.checkWrap label .check {
  width: 12px;
  height: 12px;
  border: 1px solid var(--fontColor);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
  transition: all 0.2s ease;
  display: inline-block;
  z-index: 1;
  position: relative;
}

.checkWrap label .checked {
  background-color: var(--thirdColor);
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.checkWrap label a {
  margin: 0px 5px;

}

/*Tablas*/
.table {
  width: 90%;
  margin: 0px auto;
  box-shadow: 0px 1px 6px var(--fontColor);
  border-radius: 10px;
}

.table .thead {
  display: flex;
  font-weight: bold;
  padding: 5px 0px;
}

.table .thead .th {
  flex: 1;
  text-align: center;
}

.table .tbody {
  height: 55vh;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.table .tbody::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.table .tbody .tr {
  display: flex;
  padding: 10px;
}

.table .tbody .tr .td {
  flex: 1;

}

.table .imgT {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 99px;
  background-color: var(--secondarColor);
  overflow: hidden;
}

.table .imgT img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*ButtonFollow*/
.buttonFollow {
  font-size: 1em;
  font-weight: bold;
  padding: 5px 15px;
  box-shadow: 1px 1px 2px var(--fontColor);
  border-radius: 20px;

}

/*Search*/
.searchWrap {
  width: 100%;
  padding: 6px;
  border-radius: 20px;
  box-shadow: 1px 1px 2px var(--fontColor);
}

.searchWrap input {
  width: 100%;
  padding-left: 10px;
  background: transparent !important;
  border: none;
  font-size: 1em;
}

@media (max-width:768px) {

  /*Para móvil*/
  .d-ns {
    display: none !important;
  }
}

@media (max-width:1100px) {

  /*Para tablet y móvil*/
  .d-nm {
    display: none !important;
  }
}

@media (min-width:768px) {
  .inputWrap {
    padding: 30px 15px 10px 15px;

  }

  .inputWrap label {
    font-size: 1.4em;
  }

  .inputWrap input {
    font-size: 2em;
  }

  .button {
    padding: 20px;
    font-size: 1.5em;
  }

  .table .tbody .tr {
    padding: 10px 20px;
  }

  .searchWrap {
    width: 250px;
  }
}

@media (min-width:1000px) {
  .inputWrap label {
    font-size: 1em;
  }

  .inputWrap input {
    font-size: 1.3em;
  }

  .button {
    padding: 15px;
    font-size: 1em;
  }

  .inputWrap {
    margin-top: 10px;
    margin-bottom: 15px;
  }

}

@media (min-width:1200px) {
  #root {
    max-width: 1200px;
  }
}

@media (min-width:1600px) {
  #root {
    max-width: 1500px;
  }

  .inputWrap label {
    font-size: 1.2em;
  }

  .inputWrap input {
    font-size: 1.6em;
    width: 90%;
  }

  .button {
    font-size: 1.1em;
  }

  .inputWrap {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}