header{
    padding: 20px 10px;
}

.hp{
    padding: 20px;
}

.hw{
    min-width: 20%;
}

.imgHeader{
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: var(--secondarColor);
    overflow: hidden;
}
.imgHeader img{
    object-fit: cover;
    width: 100%;
}

.idWrap{
    margin-left: 20px;
    font-size: 1.2em;
}
.icon{
    width: 30px;
}
@media (min-width:768px){

}
@media (min-width:1200px){
    header{
        padding: 15px 0px;
    }
}