body {
    background-color: var(--secondarColor) !important;
}

main {
    flex-direction: column;
    min-height: 90vh;
}

.logoWrap {
    width: 100%;
    margin: 80px 0px;
}

.logoWrap img {
    width: 250px;
}

.formWrap {
    width: 100%;
    margin-bottom: 40px;
}

.formWrap .tempWrap{
    width: 90%;
}

.formWrap form {
    width: 100%;
    transition: all 0.2s ease;
    margin-bottom: 20px;
}

.formWrap form a {
    color: var(--thirdColor);
}

h3 {
    font-size: 1.2em;
    text-align: start;
}

.toggleWrap button {
    margin-top: 10px;
    font-size: 1em;
}

p{
    margin: 10px 0px;
}

@media (min-width:768px) {
    main {
        min-height: 85vh;
    }

    .logoWrap img {
        width: 300px;
        left: 0px;
    }

    .formWrap {
        margin-bottom: 0px;
    }

    .formWrap .tempWrap {
        width: 60%;
    }

    h3 {
        font-size: 1.5em;
    }

    .toggleWrap button {
        font-size: 1.3em;
    }

    .alert {
        bottom: -60px;
    }

}

@media (min-width:1000px) {
    main {
        flex-direction: row;
    }

    .logoWrap {
        width: 55%;
        margin: 0px;
    }

    .formWrap {
        width: 45%;
    }

    .formWrap .tempWrap {
        width: 430px;
    }

    h3 {
        font-size: 1.2em;
    }

    .toggleWrap button {
        font-size: 1em;
    }

    .logoWrap img {
        width: 400px;
    }

    .alert {
        bottom: 100px;
    }

}

@media (min-width:1600px) {
    main {
        height: 90vh;
    }

    h3 {
        font-size: 1.5em;
    }

    .toggleWrap button {
        font-size: 1.1em;
    }

    .logoWrap img {
        width: 500px;
    }
}